[
%% Sumo DB
, { sumo_db
  , [ {log_queries, true}
    , {query_timeout, 30000}
    , {wpool_opts, [{overrun_warning, 100}]}
    , {storage_backends, []}
    , { stores
      , [ { bc_store_mnesia
          , sumo_store_mnesia
          , [ {workers, 10}
            , {disc_copies, here}
            ]
          }
        ]
      }
    , { docs
      , [
        ]
      }
    , { events
      , [
        ]
      }
    ]
  }
%% SASL
, { sasl
  , [ {sasl_error_logger, false}
    , {errlog_type, error}
    ]
  }
].
