[ %% Sumo DB
  { sumo_db
  , [ {log_queries, true}
    , {query_timeout, 30000}
    , {wpool_opts, [{overrun_warning, 100}]}
    , {storage_backends, []}
    , { stores
      , [ { bo_store_mnesia
          , sumo_store_mnesia
          , [ {workers, 10}
            %, {disc_copies, ['bo_test@127.0.0.1']}
            ]
          }
        ]
      }
    , { docs
      , [ {bo_players, bo_store_mnesia}
        ]
      }
    , { events
      , [
        ]
      }
    ]
  }
, { mnesia
  , [{debug, true}]
  }
%% SASL
, { sasl
  , [ {sasl_error_logger, false}
    , {errlog_type, error}
    ]
  }
].
